### Gradle ###
.gradle/
build/
out/
classes/

### IntelliJ IDEA ###
.idea/
*.iml
*.ipr
*.iws

### Visual Studio Code ###
.settings/
.vscode/
bin/
.classpath
.project

### Fleet ###
.fleet/

### Eclipse ###
*.launch

### Mac OS ###
*.DS_Store

### Other ###
run/
*.log
output/
